<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/usuarios.css') }}">
        <title>Usuarios CR</title>
    </head>
    <body>
        <section>
            <div class="titulo">
                <h1>Todos los Usuarios!</h1>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Fecha de Creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in lista_usuarios %}
                    <tr>
                        <td>{{usuario.id}} </td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.apellido}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.created_at}}</td>
                        <td id="botones">
                            <form method="get" action='/usuarios/mostrar/{{usuario.id}}'>
                                <button>Mostrar</button>
                            </form>
                            <form method="get" action='/usuarios/editar/{{usuario.id}}'>
                                <button>Editar</button>
                            </form>
                            <form method="post" action='/usuarios/eliminar/{{usuario.id}}'>
                                <button>Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <form method="GET" action='/usuarios/nuevo'>
                <button id="boton-final">Agregar un Nuevo Usuario</button>
                </form>
            </div>
        </section>
    </body>
</html>